{% extends "base.html" %} {% load static %} {% block content %}
<div class="page-title">
  <div class="tf-container">
    <div class="page-title-content text-center">
      <h1 class="title split-text effect-right">FAQ</h1>
      <div class="breadkcum">
        <a
          href="{% url 'index' %}"
          class="link-breadkcum body-2 fw-7 split-text effect-right"
        >
          Home
        </a>
        <span class="dot"></span>
        <span class="page-breadkcum body-2 fw-7 split-text effect-right">
          FAQ</span
        >
      </div>
    </div>
  </div>
</div>
<!-- Main-content -->

<div class="main-content position-relative">
  <div class="mask mask-service-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="800"
      height="800"
      fill="none"
    >
      <circle cx="400" cy="400" r="325" stroke="url(#b6)" stroke-width="150" />
      <defs>
        <linearGradient id="b6" x1="176" x2="569" y1="70.5" y2="674">
          <stop offset="0" stop-color="#fff" stop-opacity="0.05" />
          <stop offset="1" stop-color="#fff" stop-opacity="0" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <section class="section-about p-services tf-spacing-3">
    <div class="tf-container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left">
            <div class="image tf-animate-2">
              <img
                src="{% static 'image/section/img-section-about-p-serveic-1.jpg' %}"
                data-src="{% static 'image/section/img-section-about-p-serveic-1.jpg' %}"
                alt=""
                class="lazyload"
              />
            </div>
            <div class="img-secion-item img-1 tf-animate-3">
              <img
                src="{% static 'image/section/img-section-about-p-serveic-2.jpg' %}"
                data-src="{% static 'image/section/img-section-about-p-serveic-2.jpg' %}"
                alt=""
                class="lazyload"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right">
            <div class="heading-section mb-45">
              <div class="sub-title body-2 fw-7 mb-17 title-animation">
                We Are Zyn Cyber Company
              </div>
              <h2 class="title fw-6 title-animation">
                Innovate Soft Solutions to
                <span class="fw-3">Grow Tech Business</span>
              </h2>
            </div>
            <div class="section-content">
              <div class="desc mb-57 text-animation">
                <p class="lh-30">
                  With a portfolio of successful projects spanning various
                  industries our team has consistently demonstrated the ability
                  to transform
                </p>
              </div>
              <div class="list-benefit">
                <div class="benefit-item style-big title-animation">
                  <i class="icon-star-of-life"></i>
                  <span class="fs-20">5+ Years Of Experience</span>
                </div>
                <div class="benefit-item style-big title-animation">
                  <i class="icon-star-of-life"></i>
                  <span class="fs-20">Professional Web Designer</span>
                </div>
                <div class="benefit-item style-big title-animation">
                  <i class="icon-star-of-life"></i>
                  <span class="fs-20">Mobile Apps Design</span>
                </div>
              </div>
              <div class="title-animation">
                <a href="about-us.html" class="tf-btn no-bg text-underline">
                  <span>Learn More Us</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-services p-services tf-spacing-2">
    <div class="top-section">
      <div class="tf-marquee">
        <div class="marquee-wrapper">
          <div class="initial-child-container">
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
            <div class="big-text">
              Explore <span class="text-stroke">Popular</span> Services
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tf-container">
      <div class="list-services flex flex-wrap">
        <div class="services-item px-lg-15 no-img">
          <div class="icon">
            <i class="icon-augmented"></i>
          </div>

          <h5 class="lh-30 fw-6">
            <a href="services-details.html" class="title-service">
              Machine Learning</a
            >
          </h5>

          <div class="desc lh-30">
            Machine learning revolutionizing was way businesses operate by
            system the learn from data and performance
          </div>

          <div class="bottom-item">
            <a href="services-details.html" class="tf-btn-readmore">
              <span class="plus">+</span>
              <span class="text">Read More</span>
            </a>
          </div>
        </div>

        <div class="services-item px-lg-15 no-img">
          <div class="icon">
            <i class="icon-artificial"></i>
          </div>

          <h5 class="lh-30 fw-6">
            <a href="services-details.html" class="title-service"
              >Artificial Intelligence</a
            >
          </h5>

          <div class="desc lh-30">
            Artificial Intelligence is at the forefront technological
            innovation, transforming industries and driving
          </div>

          <div class="bottom-item">
            <a href="services-details.html" class="tf-btn-readmore">
              <span class="plus">+</span>
              <span class="text">Read More</span>
            </a>
          </div>
        </div>

        <div class="services-item px-lg-15 no-img">
          <div class="icon">
            <i class="icon-machine"></i>
          </div>

          <h5 class="lh-30 fw-6">
            <a href="services-details.html" class="title-service"
              >Augmented Reality</a
            >
          </h5>

          <div class="desc lh-30">
            Augmented Reality is revolutionizing the way interact with digital
            content by overlaying virtual elements onto
          </div>

          <div class="bottom-item">
            <a href="services-details.html" class="tf-btn-readmore">
              <span class="plus">+</span>
              <span class="text">Read More</span>
            </a>
          </div>
        </div>

        <div class="services-item px-lg-15 no-img">
          <div class="icon">
            <i class="icon-custom-software"></i>
          </div>

          <h5 class="lh-30 fw-6">
            <a href="services-details.html" class="title-service"
              >Custom Software Development</a
            >
          </h5>

          <div class="desc lh-30">
            Machine learning revolutionizing was way businesses operate by
            system the learn from data and performance
          </div>

          <div class="bottom-item">
            <a href="services-details.html" class="tf-btn-readmore">
              <span class="plus">+</span>
              <span class="text">Read More</span>
            </a>
          </div>
        </div>

        <div class="services-item px-lg-15 no-img">
          <div class="icon">
            <i class="icon-artificial"></i>
          </div>

          <h5 class="lh-30 fw-6">
            <a href="services-details.html" class="title-service"
              >Artificial Intelligence</a
            >
          </h5>

          <div class="desc lh-30">
            Artificial Intelligence is at the forefront technological
            innovation, transforming industries and driving
          </div>

          <div class="bottom-item">
            <a href="services-details.html" class="tf-btn-readmore">
              <span class="plus">+</span>
              <span class="text">Read More</span>
            </a>
          </div>
        </div>

        <div class="services-item px-lg-15 no-img">
          <div class="icon">
            <i class="icon-machine"></i>
          </div>

          <h5 class="lh-30 fw-6">
            <a href="services-details.html" class="title-service"
              >Augmented Reality</a
            >
          </h5>

          <div class="desc lh-30">
            Augmented Reality is revolutionizing the way interact with digital
            content by overlaying virtual elements onto
          </div>

          <div class="bottom-item">
            <a href="services-details.html" class="tf-btn-readmore">
              <span class="plus">+</span>
              <span class="text">Read More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div
    class="wg-cta tf-spacing-2 alert alert-dismissible fade show"
    role="alert"
  >
    <div class="tf-container">
      <div class="cta-inner flex align-items-center">
        <div class="left flex align-items-center">
          <div class="icon">
            <i class="icon-chat-2"></i>
          </div>
          <h5 class="fw-4 title">
            Let’s <span class="fw-6">Discuss & Start</span> IT Consultations
          </h5>
          <a href="#" class="tf-btn no-bg text-underline hover-color-main-dark">
            <span>Let’s Talk</span>
            <i class="icon-arrow-right"></i>
          </a>
        </div>
        <div class="right flex align-items-center g-15">
          <div class="flex flex-wrap rg-15">
            <div class="list-agent">
              <a href="#" class="agent agent-1 style-border">
                <img
                  src="{% static 'image/avatar/agent-4.jpg' %}"
                  data-src="{% static 'image/avatar/agent-4.jpg' %}"
                  alt=""
                  class="ls-is-cached lazyloaded"
                />
              </a>
              <a href="#" class="agent agent-2 style-border">
                <img
                  src="{% static 'image/avatar/agent-5.jpg' %}"
                  data-src="{% static 'image/avatar/agent-5.jpg' %}"
                  alt=""
                  class="ls-is-cached lazyloaded"
                />
              </a>
              <a href="#" class="agent agent-3 style-border">
                <img
                  src="{% static 'image/avatar/agent-6.jpg' %}"
                  data-src="{% static 'image/avatar/agent-6.jpg' %}"
                  alt=""
                  class="ls-is-cached lazyloaded"
                />
              </a>
              <div class="agent agent-plus style-border">
                <span> + </span>
              </div>
            </div>
            <div class="text">
              <h5>1.8 million+ <span class="fw-5">Trusted Clients</span></h5>
              <div class="img-line">
                <img
                  src="{% static 'image/icon/line-2.png' %}"
                  data-src="{% static 'image/icon/line-2.png' %}"
                  alt=""
                  class="lazyload"
                />
              </div>
            </div>
          </div>
          <a class="tf-btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="icon-close-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="section-company tf-spacing-2">
    <div class="tf-container w-1810">
      <div class="section-company-inner">
        <div class="left-section">
          <div class="heading-section mb-53">
            <div class="sub-title body-2 fw-7 mb-17 title-animation">
              Grow & Development
            </div>
            <h2 class="title fw-6 title-animation">
              Modern Technology and
              <span class="fw-3">Advancement Incentives</span>
            </h2>
          </div>
          <div class="wg-according" id="According1">
            <div class="according-item">
              <h5 class="fw-5">
                <a
                  href="#according1"
                  data-bs-toggle="collapse"
                  class="title-according"
                  >Learn Our Company Mission<span></span
                ></a>
              </h5>
              <div
                id="according1"
                class="collapse show"
                data-bs-parent="#According1"
              >
                <div class="according-content">
                  <div class="image left">
                    <img
                      src="{% static 'image/section/img-according-1.jpg' %}"
                      data-src="{% static 'image/section/img-according-1.jpg' %}"
                      alt=""
                      class="lazyload"
                    />
                  </div>
                  <div class="right">
                    <div class="desc lh-30">
                      Our mission is to revolutionize the digital landscape
                      delivering innovative software solutions to empower
                      businesses to achieve their full potential
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-star-of-life"></i>
                        <span class="fw-5">Premier Tech Innovations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-star-of-life"></i>
                        <span class="fw-5">Nexus Tech Systems</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="according-item">
              <h5 class="fw-5">
                <a
                  href="#according2"
                  data-bs-toggle="collapse"
                  class="title-according collapsed"
                  >Our Company Vision<span></span
                ></a>
              </h5>
              <div
                id="according2"
                class="collapse"
                data-bs-parent="#According1"
              >
                <div class="according-content">
                  <div class="image left">
                    <img
                      src="{% static 'image/section/img-according-1.jpg' %}"
                      data-src="{% static 'image/section/img-according-1.jpg' %}"
                      alt=""
                      class="lazyload"
                    />
                  </div>
                  <div class="right">
                    <div class="desc lh-30">
                      Our mission is to revolutionize the digital landscape
                      delivering innovative software solutions to empower
                      businesses to achieve their full potential
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-star-of-life"></i>
                        <span class="fw-5">Premier Tech Innovations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-star-of-life"></i>
                        <span class="fw-5">Nexus Tech Systems</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="according-item">
              <h5 class="fw-5">
                <a
                  href="#according3"
                  data-bs-toggle="collapse"
                  class="title-according collapsed"
                  >Our Philosophy<span></span
                ></a>
              </h5>
              <div
                id="according3"
                class="collapse"
                data-bs-parent="#According1"
              >
                <div class="according-content">
                  <div class="image left">
                    <img
                      src="{% static 'image/section/img-according-1.jpg' %}"
                      data-src="{% static 'image/section/img-according-1.jpg' %}"
                      alt=""
                      class="lazyload"
                    />
                  </div>
                  <div class="right">
                    <div class="desc lh-30">
                      Our mission is to revolutionize the digital landscape
                      delivering innovative software solutions to empower
                      businesses to achieve their full potential
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-star-of-life"></i>
                        <span class="fw-5">Premier Tech Innovations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-star-of-life"></i>
                        <span class="fw-5">Nexus Tech Systems</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="according-item">
              <h5 class="fw-5">
                <a
                  href="#according4"
                  data-bs-toggle="collapse"
                  class="title-according collapsed"
                  >Our Strategy<span></span
                ></a>
              </h5>
              <div
                id="according4"
                class="collapse"
                data-bs-parent="#According1"
              >
                <div class="according-content">
                  <div class="image left">
                    <img
                      src="{% static 'image/section/img-according-1.jpg' %}"
                      data-src="{% static 'image/section/img-according-1.jpg' %}"
                      alt=""
                      class="lazyload"
                    />
                  </div>
                  <div class="right">
                    <div class="desc lh-30">
                      Our mission is to revolutionize the digital landscape
                      delivering innovative software solutions to empower
                      businesses to achieve their full potential
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-star-of-life"></i>
                        <span class="fw-5">Premier Tech Innovations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-star-of-life"></i>
                        <span class="fw-5">Nexus Tech Systems</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-section">
          <div class="image image-section tf-animate-1">
            <img
              src="{% static 'image/section/img-section-company.jpg' %}"
              data-src="{% static 'image/section/img-section-company.jpg' %}"
              alt=""
              class="lazyload"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-testimonial p-services tf-spacing-2">
    <div class="tf-container w-1650">
      <div class="section-testimonials-inner flex justify-content-between">
        <div class="heading-section left">
          <div class="sub-title body-2 fw-7 mb-17 title-animation">
            Clients Testimonials
          </div>
          <h2 class="title fw-6 mb-21 title-animation">
            I’ve 342+ Clients
            <span class="fw-3">Feedback</span>
          </h2>
          <div class="desc mb-60 text-animation">
            <p class="lh-30">
              Sed ut perspiciatis unde omnin natus totam rem aperiam eaque
              inventore veritatis
            </p>
          </div>
          <div class="list-btn flex align-items-center g-10">
            <div class="scrolling-effect effectBottom">
              <a
                class="arrow-btn style-border w-50 arrow-prev testimonials-prev"
              >
                <i class="icon-arrow-left2"></i>
              </a>
            </div>
            <div class="scrolling-effect effectBottom">
              <a
                class="arrow-btn style-border w-50 arrow-next testimonials-next"
              >
                <i class="icon-arrow-right2"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="right">
          <div
            class="swiper tf-swiper sw-testimonials"
            data-swiper='{
                          "slidesPerView": 1,
                          "spaceBetween": 30,
                          "speed": 800,
                          "pagination": { "el": ".sw-pagination-testimonials", "clickable": true },
                          "navigation": {
                              "clickable": true,
                              "nextEl": ".testimonials-next",
                              "prevEl": ".testimonials-prev"
                          },  
                          "breakpoints": {
                              "575": { "slidesPerView": 2, "slidesPerGroup": 1},
                              "1200": { "slidesPerView": 2, "slidesPerGroup": 1}
                              }
                          }'
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item style-2">
                  <div class="top-item">
                    <div class="icon">
                      <i class="icon-quote-left"></i>
                    </div>
                    <div class="image-avatar">
                      <img
                        src="{% static 'image/avatar/avatar-tes-1.jpg' %}"
                        data-src="{% static 'image/avatar/avatar-tes-1.jpg' %}"
                        alt=""
                        class="lazyload"
                      />
                    </div>
                  </div>
                  <div class="text lh-30">
                    At vero eoset accusamus et iusto odio dignissimos ducimus
                    quie blanditiis praesentium voluptatum deleniti atque
                    corrupti dolores
                  </div>
                  <div class="user-testimonial">
                    <h5 class="fw-5 name-user">
                      <a href="#">Rodolfo E. Shannon</a>
                    </h5>
                    <a href="#" class="position text-medium">CEO & Founder</a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item style-2">
                  <div class="top-item">
                    <div class="icon">
                      <i class="icon-quote-left"></i>
                    </div>
                    <div class="image-avatar">
                      <img
                        src="{% static 'image/avatar/avatar-tes-2.jpg' %}"
                        data-src="{% static 'image/avatar/avatar-tes-2.jpg' %}"
                        alt=""
                        class="lazyload"
                      />
                    </div>
                  </div>
                  <div class="text lh-30">
                    Nam libero tempore cumsoluta nobise est eligendi optio
                    cumque nihil impedit quominus idquod maxime placeat facere
                    possimus
                  </div>
                  <div class="user-testimonial">
                    <h5 class="fw-5 name-user">
                      <a href="#">Kenneth J. Dutton</a>
                    </h5>
                    <a href="#" class="position text-medium">Web Developer</a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item style-2">
                  <div class="top-item">
                    <div class="icon">
                      <i class="icon-quote-left"></i>
                    </div>
                    <div class="image-avatar">
                      <img
                        src="{% static 'image/avatar/avatar-tes-1.jpg' %}"
                        data-src="{% static 'image/avatar/avatar-tes-1.jpg' %}"
                        alt=""
                        class="lazyload"
                      />
                    </div>
                  </div>
                  <div class="text lh-30">
                    At vero eoset accusamus et iusto odio dignissimos ducimus
                    quie blanditiis praesentium voluptatum deleniti atque
                    corrupti dolores
                  </div>
                  <div class="user-testimonial">
                    <h5 class="fw-5 name-user">
                      <a href="#">Rodolfo E. Shannon</a>
                    </h5>
                    <a href="#" class="position text-medium">CEO & Founder</a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item style-2">
                  <div class="top-item">
                    <div class="icon">
                      <i class="icon-quote-left"></i>
                    </div>
                    <div class="image-avatar">
                      <img
                        src="{% static 'image/avatar/avatar-tes-2.jpg' %}"
                        data-src="{% static 'image/avatar/avatar-tes-2.jpg' %}"
                        alt=""
                        class="lazyload"
                      />
                    </div>
                  </div>
                  <div class="text lh-30">
                    Nam libero tempore cumsoluta nobise est eligendi optio
                    cumque nihil impedit quominus idquod maxime placeat facere
                    possimus
                  </div>
                  <div class="user-testimonial">
                    <h5 class="fw-5 name-user">
                      <a href="#">Kenneth J. Dutton</a>
                    </h5>
                    <a href="#" class="position text-medium">Web Developer</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="sw-pagination-testimonials sw-pagination d-xl-none mt-15 justify-content-center"
          ></div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- /.main-content -->
{% endblock %}
