{% extends "base.html" %} {% load static %} {% block content %}
<!-- Page-title -->

<div class="page-title p-pricing">
  <div class="tf-container">
    <div class="page-title-content text-center">
      <h1 class="title split-text effect-right">Pricing Plan</h1>
      <div class="breadkcum">
        <a
          href="{% url 'index' %}"
          class="link-breadkcum body-2 fw-7 split-text effect-right"
          >Home</a
        >
        <span class="dot"></span>
        <span class="page-breadkcum body-2 fw-7 split-text effect-right">
          Pricing Plan</span
        >
      </div>
    </div>
  </div>
</div>

<!-- /.page-title -->
<!-- Main-content -->

<div class="main-content">
  <section class="section-about p-services tf-spacing-11">
    <div class="tf-container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left">
            <div class="image tf-animate-2">
              <img
                src="{% static 'image/section/img-section-about-p-serveic-1.jpg' %}"
                data-src="{% static 'image/section/img-section-about-p-serveic-1.jpg' %}"
                alt=""
                class="lazyload"
              />
            </div>
            <div class="img-secion-item img-1 tf-animate-3">
              <img
                src="{% static 'image/section/img-section-about-p-serveic-2.jpg' %}"
                data-src="{% static 'image/section/img-section-about-p-serveic-2.jpg' %}"
                alt=""
                class="lazyload"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right">
            <div class="heading-section mb-45">
              <div class="sub-title body-2 fw-7 mb-17 title-animation">
                We Are Zyn Cyber Company
              </div>
              <h2 class="title fw-6 title-animation">
                Innovate Soft Solutions to
                <span class="fw-3">Grow Tech Business</span>
              </h2>
            </div>
            <div class="section-content">
              <div class="desc mb-57 text-animation">
                <p class="lh-30">
                  With a portfolio of successful projects spanning various
                  industries our team has consistently demonstrated the ability
                  to transform
                </p>
              </div>
              <div class="list-benefit">
                <div class="benefit-item style-big title-animation">
                  <i class="icon-star-of-life"></i>
                  <span class="fs-20">5+ Years Of Experience</span>
                </div>
                <div class="benefit-item style-big title-animation">
                  <i class="icon-star-of-life"></i>
                  <span class="fs-20">Professional Web Designer</span>
                </div>
                <div class="benefit-item style-big title-animation">
                  <i class="icon-star-of-life"></i>
                  <span class="fs-20">Mobile Apps Design</span>
                </div>
              </div>
              <div class="title-animation">
                <a href="about-us.html" class="tf-btn no-bg text-underline">
                  <span>Learn More Us</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-pricing tf-spacing-12">
    <div class="heading-section mb-60">
      <div class="tf-container">
        <div class="row justify-content-between rg-20">
          <div class="col-lg-6">
            <div class="left">
              <div class="sub-title body-2 fw-7 mb-17 title-animation">
                We Are WiaTech Company
              </div>
              <h2 class="title fw-6 title-animation">
                Innovate Soft Solutions to
                <span class="fw-3">Grow Tech Business</span>
              </h2>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="right">
              <div class="desc text-animation">
                <p class="lh-30">
                  Sed ut perspiciatis unde omniste natus sit voluptatem accus
                  antiume doloremque laudantium totam aperiame abillo inventore
                </p>
              </div>
              <div class="flat-animate-tab title-animation">
                <div class="wg-tab">
                  <ul class="tab-product" role="tablist">
                    <li class="nav-tab-item" role="presentation">
                      <a
                        href="#tab1"
                        data-bs-toggle="tab"
                        role="tab"
                        class="active fw-7"
                        >Monthly Plan <i class="icon-arrow-right"></i
                      ></a>
                    </li>
                    <li class="nav-tab-item" role="presentation">
                      <a
                        href="#tab2"
                        data-bs-toggle="tab"
                        role="tab"
                        class="fw-7"
                        >Yearly Plan <i class="icon-arrow-right"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flat-animate-tab">
      <div class="tab-content">
        <div class="tab-pane active show" id="tab1" role="tabpanel">
          <div class="tf-container">
            <div
              class="swiper tf-swiper sw-pricing"
              data-swiper='{
                            "slidesPerView": 1,
                            "spaceBetween": 30,
                            "speed": 800,
                            "pagination": { "el": ".sw-pagination-pricing", "clickable": true },
                            "breakpoints": {
                                "575": { "slidesPerView": 2, "slidesPerGroup": 1},
                                "1200": { "slidesPerView": 3, "slidesPerGroup": 1}
                                }
                            }'
            >
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="pricing-item px-lg-15">
                    <div class="top-item">
                      <div class="sub-title">Basic Plan</div>
                      <h5 class="title"><a href="#">Startup Agency</a></h5>
                      <div class="flex align-items-end">
                        <div class="price flex align-items-strart">
                          <span class="fs-22 lh-100">$</span>
                          <span class="fs-65 lh-100 fw-7 color-primary"
                            >15</span
                          >
                        </div>
                        <span class="lh-30"> / per month</span>
                      </div>
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Website Design & Development</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Digital Marketing Solutions</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">SEO Optimizations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Branding and Design Identity</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">IT Consultancy Manage</span>
                      </div>
                    </div>

                    <a
                      href="pricing.html"
                      class="tf-btn style-border w-full justify-content-center"
                    >
                      <span>Choose Package</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="pricing-item style-popular px-lg-15">
                    <div class="tab-popular fw-7">
                      <i class="icon-star"></i> POPULAR
                      <i class="icon-star"></i>
                    </div>
                    <div class="top-item">
                      <div class="sub-title">Standard Plan</div>
                      <h5 class="title"><a href="#">Corporate Agency </a></h5>
                      <div class="flex align-items-end">
                        <div class="price flex align-items-strart">
                          <span class="fs-22 lh-100">$</span>
                          <span class="fs-65 lh-100 fw-7">49</span>
                        </div>
                        <span class="lh-30">/ per month</span>
                      </div>
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Website Design & Development</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Digital Marketing Solutions</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">SEO Optimizations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Branding and Design Identity</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">IT Consultancy Manage</span>
                      </div>
                    </div>

                    <a
                      href="pricing.html"
                      class="tf-btn style-bg-primary w-full justify-content-center"
                    >
                      <span>Choose Package</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="pricing-item px-lg-15">
                    <div class="top-item">
                      <div class="sub-title">Premium Plan</div>
                      <h5 class="title"><a href="#">Advance Package </a></h5>
                      <div class="flex align-items-end">
                        <div class="price flex align-items-strart">
                          <span class="fs-22 lh-100">$</span>
                          <span class="fs-65 lh-100 fw-7 color-primary"
                            >93</span
                          >
                        </div>
                        <span class="lh-30">/ per month</span>
                      </div>
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Website Design & Development</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Digital Marketing Solutions</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">SEO Optimizations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Branding and Design Identity</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">IT Consultancy Manage</span>
                      </div>
                    </div>

                    <a
                      href="pricing.html"
                      class="tf-btn style-border w-full justify-content-center"
                    >
                      <span>Choose Package</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab2" role="tabpanel">
          <div class="tf-container">
            <div
              class="swiper tf-swiper sw-pricing2"
              data-swiper='{
                                "slidesPerView": 1,
                                "spaceBetween": 30,
                                "speed": 800,
                                "pagination": { "el": ".sw-pagination-pricing2", "clickable": true },
                                "breakpoints": {
                                    "575": { "slidesPerView": 2, "slidesPerGroup": 1},
                                    "1200": { "slidesPerView": 3, "slidesPerGroup": 1}
                                    }
                                }'
            >
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="pricing-item px-lg-15">
                    <div class="top-item">
                      <div class="sub-title">Basic Plan</div>
                      <h5 class="title"><a href="#">Startup Agency</a></h5>
                      <div class="flex align-items-end">
                        <div class="price flex align-items-strart">
                          <span class="fs-22 lh-100">$</span>
                          <span class="fs-65 lh-100 fw-7 color-primary"
                            >30</span
                          >
                        </div>
                        <span class="lh-30"> / per year</span>
                      </div>
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Website Design & Development</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Digital Marketing Solutions</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">SEO Optimizations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Branding and Design Identity</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">IT Consultancy Manage</span>
                      </div>
                    </div>

                    <a
                      href="pricing.html"
                      class="tf-btn style-border w-full justify-content-center"
                    >
                      <span>Choose Package</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="pricing-item style-popular px-lg-15">
                    <div class="tab-popular fw-7">
                      <i class="icon-star"></i> POPULAR
                      <i class="icon-star"></i>
                    </div>
                    <div class="top-item">
                      <div class="sub-title">Standard Plan</div>
                      <h5 class="title"><a href="#">Corporate Agency </a></h5>
                      <div class="flex align-items-end">
                        <div class="price flex align-items-strart">
                          <span class="fs-22 lh-100">$</span>
                          <span class="fs-65 lh-100 fw-7">70</span>
                        </div>
                        <span class="lh-30">/ per year</span>
                      </div>
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Website Design & Development</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Digital Marketing Solutions</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">SEO Optimizations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Branding and Design Identity</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">IT Consultancy Manage</span>
                      </div>
                    </div>

                    <a
                      href='{% url "pricing" %}'
                      class="tf-btn style-bg-primary w-full justify-content-center"
                    >
                      <span>Choose Package</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="pricing-item px-lg-15">
                    <div class="top-item">
                      <div class="sub-title">Premium Plan</div>
                      <h5 class="title"><a href="#">Advance Package </a></h5>
                      <div class="flex align-items-end">
                        <div class="price flex align-items-strart">
                          <span class="fs-22 lh-100">$</span>
                          <span class="fs-65 lh-100 fw-7 color-primary"
                            >150</span
                          >
                        </div>
                        <span class="lh-30">/ per year</span>
                      </div>
                    </div>
                    <div class="list-benefit">
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Website Design & Development</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Digital Marketing Solutions</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">SEO Optimizations</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">Branding and Design Identity</span>
                      </div>
                      <div class="benefit-item">
                        <i class="icon-check"></i>
                        <span class="lh-30">IT Consultancy Manage</span>
                      </div>
                    </div>

                    <a
                      href="pricing.html"
                      class="tf-btn style-border w-full justify-content-center"
                    >
                      <span>Choose Package</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div
    class="wg-cta tf-spacing-12 alert alert-dismissible fade show"
    role="alert"
  >
    <div class="tf-container">
      <div class="cta-inner flex align-items-center">
        <div class="left flex align-items-center">
          <div class="icon">
            <i class="icon-chat-2"></i>
          </div>
          <h5 class="fw-4 title">
            Let’s <span class="fw-6">Discuss & Start</span> IT Consultations
          </h5>
          <a href="#" class="tf-btn no-bg text-underline hover-color-main-dark">
            <span>Let’s Talk</span>
            <i class="icon-arrow-right"></i>
          </a>
        </div>
        <div class="right flex align-items-center g-15">
          <div class="flex flex-wrap rg-15">
            <div class="list-agent">
              <a href="#" class="agent agent-1 style-border">
                <img
                  src="{% static 'image/avatar/agent-4.jpg' %}"
                  data-src="{% static 'image/avatar/agent-4.jpg' %}"
                  alt=""
                  class="ls-is-cached lazyloaded"
                />
              </a>
              <a href="#" class="agent agent-2 style-border">
                <img
                  src="{% static 'image/avatar/agent-5.jpg' %}"
                  data-src="{% static 'image/avatar/agent-5.jpg' %}"
                  alt=""
                  class="ls-is-cached lazyloaded"
                />
              </a>
              <a href="#" class="agent agent-3 style-border">
                <img
                  src="{% static 'image/avatar/agent-6.jpg' %}"
                  data-src="{% static 'image/avatar/agent-6.jpg' %}"
                  alt=""
                  class="ls-is-cached lazyloaded"
                />
              </a>
              <div class="agent agent-plus style-border">
                <span> + </span>
              </div>
            </div>
            <div class="text">
              <h5>1.8 million+ <span class="fw-5">Trusted Clients</span></h5>
              <div class="img-line">
                <img
                  src="{% static 'image/icon/line-2.png' %}"
                  data-src="{% static 'image/icon/line-2.png' %}"
                  alt=""
                  class="lazyload"
                />
              </div>
            </div>
          </div>
          <a class="tf-btn-close" data-bs-dismiss="alert" aria-label="Close">
            <i class="icon-close-2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="section-form tf-spacing-12">
    <div class="section-inner flex">
      <div class="left">
        <div class="image tf-animate-1">
          <img
            src="{% static 'image/section/img-section-form-1.jpg' %}"
            data-src="{% static 'image/section/img-section-form-1.jpg' %}"
            alt=""
            class="lazyload"
          />
        </div>
        <div class="section-content section-form-content tf-animate-2">
          <div class="sub-title body-2 fw-7 mb-17">Work Inquiry</div>
          <h2 class="title fw-6">Let’s Work For your Next Projects ?</h2>
          <a
            href='{% url "contact" %}'
            class="tf-btn style-bg-white hover-bg-main-dark"
          >
            <span>Contact Us</span>
            <i class="icon-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="right">
        <form
          id="contactform"
          class="form-contact-us px-md-15"
          method="post"
          action="{% url 'contact' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="heading-form text-center">
            <h3 class="title">Need Help For Project!</h3>

            <div class="desc lh-30">
              We are ready to help your next projects, let’s work together
            </div>
          </div>

          <div class="cols mb-20 g-20">
            <fieldset class="item">
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Name"
                required
              />
              <i class="icon-user"></i>
            </fieldset>

            <fieldset class="item">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                required
              />
              <i class="icon-email"></i>
            </fieldset>
          </div>

          <select name="service" id="service-real" class="hidden">
            <option value="">Choose Services</option>
            <option value="ml">Machine Learning</option>
            <option value="ai">Artificial Intelligence</option>
            <option value="ar">Augmented Reality</option>
            <option value="sd">Software Development</option>
          </select>

          <!-- 2. FANCY Nice‑Select UI (your existing markup unchanged) -->
          <div id="service-ui" class="nice-select mb-20">
            <span class="current caption-1">Choose Services</span>
            <ul class="list">
              <li class="option option-all selected focus" data-value="">
                Choose Services
              </li>
              <li class="option" data-value="ml">Machine Learning</li>
              <li class="option" data-value="ai">Artificial Intelligence</li>
              <li class="option" data-value="ar">Augmented Reality</li>
              <li class="option" data-value="sd">Software Development</li>
            </ul>
          </div>

          <fieldset class="mb-20">
            <textarea
              name="message"
              id="message"
              placeholder="Message"
              required
            ></textarea>
          </fieldset>

          <button type="submit" class="tf-btn mx-auto">
            <span>Send Message Us</span>
            <i class="icon-arrow-right"></i>
          </button>
        </form>
      </div>
    </div>
  </section>

  <section class="section-testimonial p-services tf-spacing-12">
    <div class="tf-container w-1650">
      <div class="section-testimonials-inner flex justify-content-between">
        <div class="heading-section left">
          <div class="sub-title body-2 fw-7 mb-17 title-animation">
            Clients Testimonials
          </div>
          <h2 class="title fw-6 mb-21 title-animation">
            I’ve 342+ Clients
            <span class="fw-3">Feedback</span>
          </h2>
          <div class="desc mb-60 text-animation">
            <p class="lh-30">
              Sed ut perspiciatis unde omnin natus totam rem aperiam eaque
              inventore veritatis
            </p>
          </div>
          <div class="list-btn flex align-items-center g-10">
            <a class="arrow-btn style-border w-50 arrow-prev testimonials-prev">
              <i class="icon-arrow-left2"></i>
            </a>
            <a class="arrow-btn style-border w-50 arrow-next testimonials-next">
              <i class="icon-arrow-right2"></i>
            </a>
          </div>
        </div>

        <div class="right">
          <div
            class="swiper tf-swiper sw-testimonials"
            data-swiper='{
                        "slidesPerView": 1,
                        "spaceBetween": 30,
                        "speed": 800,
                        "pagination": { "el": ".sw-pagination-testimonials", "clickable": true },
                        "navigation": {
                            "clickable": true,
                            "nextEl": ".testimonials-next",
                            "prevEl": ".testimonials-prev"
                        },  
                        "breakpoints": {
                            "575": { "slidesPerView": 2, "slidesPerGroup": 1},
                            "1200": { "slidesPerView": 2, "slidesPerGroup": 1}
                            }
                        }'
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item style-2">
                  <div class="top-item">
                    <div class="icon">
                      <i class="icon-quote-left"></i>
                    </div>
                    <div class="image-avatar">
                      <img
                        src="image/avatar/avatar-tes-1.jpg"
                        data-src="image/avatar/avatar-tes-1.jpg"
                        alt=""
                        class="lazyload"
                      />
                    </div>
                  </div>
                  <div class="text lh-30">
                    At vero eoset accusamus et iusto odio dignissimos ducimus
                    quie blanditiis praesentium voluptatum deleniti atque
                    corrupti dolores
                  </div>
                  <div class="user-testimonial">
                    <h5 class="fw-5 name-user">
                      <a href="#">Rodolfo E. Shannon</a>
                    </h5>
                    <a href="#" class="position text-medium">CEO & Founder</a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item style-2">
                  <div class="top-item">
                    <div class="icon">
                      <i class="icon-quote-left"></i>
                    </div>
                    <div class="image-avatar">
                      <img
                        src="image/avatar/avatar-tes-2.jpg"
                        data-src="image/avatar/avatar-tes-2.jpg"
                        alt=""
                        class="lazyload"
                      />
                    </div>
                  </div>
                  <div class="text lh-30">
                    Nam libero tempore cumsoluta nobise est eligendi optio
                    cumque nihil impedit quominus idquod maxime placeat facere
                    possimus
                  </div>
                  <div class="user-testimonial">
                    <h5 class="fw-5 name-user">
                      <a href="#">Kenneth J. Dutton</a>
                    </h5>
                    <a href="#" class="position text-medium">Web Developer</a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item style-2">
                  <div class="top-item">
                    <div class="icon">
                      <i class="icon-quote-left"></i>
                    </div>
                    <div class="image-avatar">
                      <img
                        src="image/avatar/avatar-tes-1.jpg"
                        data-src="image/avatar/avatar-tes-1.jpg"
                        alt=""
                        class="lazyload"
                      />
                    </div>
                  </div>
                  <div class="text lh-30">
                    At vero eoset accusamus et iusto odio dignissimos ducimus
                    quie blanditiis praesentium voluptatum deleniti atque
                    corrupti dolores
                  </div>
                  <div class="user-testimonial">
                    <h5 class="fw-5 name-user">
                      <a href="#">Rodolfo E. Shannon</a>
                    </h5>
                    <a href="#" class="position text-medium">CEO & Founder</a>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item style-2">
                  <div class="top-item">
                    <div class="icon">
                      <i class="icon-quote-left"></i>
                    </div>
                    <div class="image-avatar">
                      <img
                        src="image/avatar/avatar-tes-2.jpg"
                        data-src="image/avatar/avatar-tes-2.jpg"
                        alt=""
                        class="lazyload"
                      />
                    </div>
                  </div>
                  <div class="text lh-30">
                    Nam libero tempore cumsoluta nobise est eligendi optio
                    cumque nihil impedit quominus idquod maxime placeat facere
                    possimus
                  </div>
                  <div class="user-testimonial">
                    <h5 class="fw-5 name-user">
                      <a href="#">Kenneth J. Dutton</a>
                    </h5>
                    <a href="#" class="position text-medium">Web Developer</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="sw-pagination-testimonials sw-pagination d-xl-none mt-15 justify-content-center"
          ></div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- /.main-content -->
{% endblock %}
